*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
    background-color: #ffffff;
}

i {
    font-size: 2.4rem;
}

/* TÉRMINO APLICAÇÃO PRA TODA PÁGINA */

/* MENU RESPONSIVO */

:root{
    --bg-color: #dddddd;
    --text-color: #000000;
    --main-color: #ffffff;
    --azul-color: #5bc2e7;
}

body{
    min-height: 100vh;
    background-color: #ffffff;
    color: var(--text-color)

}

header{
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    right: 90px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
    background-color: #ffffff;

}

.logo{
    display: flex;
    align-items: center;
}

.logo i {
    color: #5bc2e7;
    font-size: 28px;
    margin-right: 3px;
}

.logo span{ /* NETMAX*/
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 600;
}

.navbar{
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .25s ease;
}

.navbar a:hover{
    color: #5bc2e7;
}


.navbar a:active{
    color: #5bc2e7;
}

.main{ 
    display: flex;
    align-items: center;
}

.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 500;
    transition: all .50s ease;
}

.user{ 
    display: flex;
    align-items: center;
}

.user i{
    color: #5bc2e7;
    font-size: 28px;
    margin-right: 7px;
}

.main a:hover{
    color: #5bc2e7;
}

#menu-icon{
    font-size: 35px;
    color: #5bc2e7;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }  
    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        color: var(--azul-color);

    } 
    .navbar a:active{
        color: var(--text-color);
    }
    .navbar.open{
        right: 2%;
    }

    .logo span { /* Ocultar nome NETMAX */
        display: none;

    }

    .navbar .btn-check{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
    }

    .navbar #check:checked ~ .menu-secundario{
        margin-left: 100px;
        top: 5vh;
        display: block;
        text-align: initial;
        padding: 5px 5px;
        transform: translateX(20%);
    }
}

/* Menu secundário */

.navbar ul{
    display: none;
    position: absolute;
}

#check{
    display: none;
}

.btn-check{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    cursor: pointer;
}

.btn-check:hover{
    color: var(--azul-color);
}

.btn-check:active{
    color: var(--azul-color);
}

.navbar #check:checked ~ .menu-secundario{
    display: block;
    background-color: #e1743a;
    border-radius: 10px;
}

.navbar .nav-planos a:hover{
    color: var(--main-color);
}
/* Final Menu secundário */

/* FINAL MENU RESPONSIVO */

/* inicio Forms */
.subscribe {
    align-items: center;
    left: -50px;
    position: relative;
    height: 140px;
    width: 290px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    color: #3a3a3a;
    box-shadow: 0px 0px 60px 5px rgba(255, 255, 255, 0.4);
	margin-inline: auto; /* deixar centralizado */
	
  }
  
  .subscribe:after {
    position: absolute;
    content: "";
    right: -10px;
    bottom: 18px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    
  }
  
  .subscribe p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 30px;
  }
  
  .subscribe input {
    position: absolute;
    bottom: 30px;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
    width: 80%;
    background: transparent;
    transition: all .25s ease;
  }
  
  .subscribe .submit-btn {
    position: absolute;
    border-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #5bc2e7;  
    color: #FFF;
    padding: 10px 5px;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 4px;
    right: -90px;
    bottom: 30px;
    cursor: pointer;
    transition: all .25s ease;
    box-shadow: -5px 6px 20px 0px rgba(161, 161, 161, 0.4);
  }
/* inicio Forms */

/* inicio plano principal */
@media only screen and (max-width: 1180px) {
    .principal {
      width: 100%;
    }
  }
/* final plano principal */


/* INICIO WHATSAPP */

.whatsapp-link{
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 30px;
    background-color: #25d366;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 27px;
    box-shadow: 2px 2px 2px #888;
    z-index: 1000;
}

.vendedor{
    position: fixed;
    width: 130px;
    height: 29px;
    bottom: 12px;
    right: 72px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    z-index: 1000;  
}
/* FINAL WHATSAPP */

/* inicio Pacotes Propocionais*/
.container {
	max-width: 1200px;
	margin-inline: auto;
	padding: 50px 20px;
}

.container .principal{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .4);
}

.title {
	margin-bottom: 50px;
}
.title span {
	display: block;
}
.title .primary {
	font-size: clamp(26px, 5vw, 52px);
	text-transform: uppercase;
	color: #000000;
}
.title .secondary {
	font-size: clamp(14px, 2.5vw, 16px);
	font-weight: 400;
	color: #000000;
}
.gallery-wrapper { /* Deixar imagem no quadrado */
	display: flex;
 
}
.gallery-item {
	position: relative;
	isolation: isolate;
	display: flex;
	flex: 4;
	height: 350px;
	background-color: #000;
	padding: 20px;
	opacity: 2;
	overflow: hidden;
	transition: flex 0.5s, opacity 0.15s;
}
 /*INICIO descrição plano  */
.descriçao{
	font-size: 20px;
    background: linear-gradient(90deg, #c61af1, #ff009b);
	padding-inline: 30px;
	transform: translateY(-150px);  
    
}

.gallery-item:hover .descriçao{
    opacity: 4;
	transform: translateY(1); 
}

/*FINAL descrição plano  */


.gallery-item:hover {
	opacity: 1;
	flex: 5;
}
.gallery-item:not(:hover) /* desfoca o conteudo */ {
	opacity: 0.75;
}
.item-image {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.item-description {
	align-self: flex-end;
	text-transform: uppercase;
	color: #ffffff;
}
.name {
	font-size: 30px;
	background: linear-gradient(90deg, #c61af1, #ff009b);
	padding-inline: 10px;
	transform: translateY(-10px);
}
.role {
	display: inline-block;
	background: linear-gradient(90deg, #0086c7, #5bc2e7);
	padding: 5px;
	
}

.gallery-item:hover .name,
.gallery-item:hover .role{
	opacity: 1;
	transform: translateY(1);
}

@media screen and (max-width: 1080px) {
	.gallery-wrapper {
		flex-direction: column;
		height: 100vh;
	}

	.gallery-item:hover {
		flex-basis: 10%;
	}
/* responsivo para celular */
    .descriçao{
        transform: translateY(-50px);     
    }

    .gallery-item:not(:hover) /* desfoca o conteudo */ 
    {
        opacity: 1;
    }
     
    .name {
        font-size: 20px;
        background: linear-gradient(90deg, #c61af1, #ff009b);
        padding-inline: 5px;
        transform: translateY(-10px);
    }
}

@media screen and (max-width: 2081px) {
    .name {
        font-size: 20px;
    }


}



/* final pacotes promocionais*/

/* inicio Autoatendimento*/



.cards{
    display: grid;
    justify-content: center;
    gap: 1px;
    align-content: center;
    grid-auto-flow: column;
}
.card{
    color: #fff;
    background: #151823;
    padding: 30px;
}

/* Final Autoatendimento*/


/* inicio duvidas*/
.duvidas {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    max-width: 1180px;
    margin-inline: auto;
    padding: 50px 10px;
}

.title {
    font-size: clamp(26px, 5vw, 40px);
    color: #000000;
    margin-bottom: 30px;
}

.accordion-panel {
    padding: 7px 21px;
    margin-bottom: 24px;
    border: 1px solid #000000;
    border-radius: 8px;
}

.accordion input {
    display: none;
}

.accordion label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    padding-block: 7px;
    color: #000000;
    cursor: pointer;
    transition: color 0.25s;
}

.accordion label:hover,
.accordion input:checked + label {
    color: #3b71fe;
}

.accordion i {
    color: #3b71fe;
}

.accordion .close {
    display: none;
}

.accordion input:checked + label .close {
    display: block;
}

.accordion input:checked + label .open {
    display: none;
}

.accordion-body {
    height: 0;
}

.accordion-answer {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 7px;
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;

}

.accordion input:checked ~ .accordion-body {
    height: max-content;
}

.accordion input:checked ~ .accordion-body .accordion-answer {
    opacity: 1;
    transform: scale(1);
}

/* final duvidas*/





/* FOOTER */
.footer {
    padding-block: 5rem;
    background-color: #151823;
    color: #666873;
}

.footer__container {
    max-width: 120rem;
    margin: auto;
    padding: 0 1.5rem;
    overflow: auto;
    resize: horizontal;
}

.footer__top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 2rem;
}


.footer__title {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 2rem;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__list-item {
    list-style: none;
}

.footer__list-link {
    text-decoration: none;
    color: inherit;
    transition: color .25s;
}

.footer__list-link:hover {
    color: #fff;
}

.footer__divider {
    margin-block: 2.5rem;
    border: none;
    border-top: 1px solid rgba(252, 255, 255, .1);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer__bottom .footer__list {
    flex-direction: row;
}

@media(max-width: 1000px){
    .footer__container{
        display: inline-block;
        margin-left: 30px;
        margin-right: 30px;
    }
    .footer{
        align-items: center;
    }
}
/* FINAL FOOTER */